.text-box{
    border-left: 2px solid blue;
    border-right: 4px solid blue;
    border-top: 6px solid blue;
    border-bottom: 19px solid black;
    border: 2px solid blue;
    padding: 25px;
    margin:22px;
    background-color:grey;
}
h1{
    text-align: center;
    color: rgb(244, 250, 249);
    font-style: inherit;
}
body{
    background-color: cornsilk;
    background-image: url(https://bit.ly/2HwqmWE);
}


table, th, td {
    border: 1px solid cornsilk;
    color: cornsilk;
}
p{
    color: rgb(244, 250, 249);
}
h2{
    color: rgb(244, 250, 249);
}
h3{ 
    color: rgb(244, 250, 249);
}
.table{
    color: cornsilk;
}
label{
    caret-color: cornsilk;
}
#color{
    color: cornsilk;
}
#female{
    color: cornsilk;
}